doctype
html(ng-app='app' ng-controller='main')

  head
    block vars
        - path="./"
        - var activeNav="home"
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title Mocco Art
    base(href="test.com" target="_self")
    //base(href="http://pepelazz.github.io/RusCatSite/" target="_self")
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,700&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css')
    block styles
        link(href="#{path}index.css" rel="stylesheet")
        link(href="#{path}libs/normalize.css" rel="stylesheet")
  body
    .content
        .wrapper
              h1 Mocco Art
              img(src='./images/pictures/picture01.jpg').picture
              block content




    .footer
        .footer-grid



  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js")
  script(src="#{path}app.js")



